extends authLayout

block content
  body
    .flexColumn(style="align-items: flex-end")
      p Don't have an account?
      a(href="/signUp") Sign Up Here!
    .centerSquare
      .flexColumn
        h1(style="align-self:center") Log In
        form.flexColumn(action="/login", method="POST")
          label.topMargin(for="username") Username 
          input.topMargin(name="username", type="text")
          label.topMargin(for="password") Password
          input.topMargin(name="password", type="password")
          button.topMargin Log In
        form.topMargin.flexColumn(action="/login", method="POST")
          input(name="username", type="text", value="one", style="display: none")
          input(name="password", type="text", value="one", style="display: none")
          button.topMargin Use Test Account
