doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css', type="text/css")
    link(rel='stylesheet', href='/stylesheets/utility.css', type="text/css")
    link(rel='stylesheet', href='/stylesheets/header.css', type="text/css")
    link(rel='stylesheet', href='/stylesheets/auth.css', type="text/css")
  body
    header
      a(href="/main").leftMargin Odinbook
    block content
