extends authLayout

block content
  body
    .flexColumn(style="align-items: flex-end")
      p Don't have an account?
      a(href="/signUp") Sign Up Here!
    .centerSquare
      .flexColumn
        h1(style="align-self:center") Log In
        form.flexColumn(action="/login", method="POST")
          label.topMargin(for="username") Username 
          input.topMargin(name="username", placeholder="username", type="text")
          label.topMargin(for="password") Password
          input.topMargin(name="password", type="text")
          button.topMargin Log In