extends authLayout

block content
  div.topMargin
  .centerSquare
    .flexColumn
      p Oops! There was an error processing your request.
      h1= message
      h2= error.status
      a(href="/main") Return to Main Page?

