#input {
  height: 40px;
	width: calc(100% - 1em);
  border-radius: 10px;
	border: 0px;
	outline-color: lightblue;
  background-color: rgb(51, 52, 52);
	vertical-align: top;
	margin-left: 1em;
}

.grid2 li button {
	width: 100%;
	border-radius: 10px;
	border: 0px;
	text-align: center;
	background-color: #2a4067;
}